<a href="https://colab.research.google.com/github/Debo12/debo12.pandas-fp/blob/main/pandas_io.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np
import pandas as pd

In [20]:
data = pd.read_csv('/content/sample_data/california_housing_train.csv')
data = data.values
data = data[:, 7:9]
data = pd.DataFrame(data)
data.columns = ['median_income', 'median_house_value']
print(data)

       median_income  median_house_value
0             1.4936             66900.0
1             1.8200             80100.0
2             1.6509             85700.0
3             3.1917             73400.0
4             1.9250             65500.0
...              ...                 ...
16995         2.3571            111400.0
16996         2.5179             79000.0
16997         3.0313            103600.0
16998         1.9797             85800.0
16999         3.0147             94600.0

[17000 rows x 2 columns]

In [21]:
print(data.head())

   median_income  median_house_value
0         1.4936             66900.0
1         1.8200             80100.0
2         1.6509             85700.0
3         3.1917             73400.0
4         1.9250             65500.0

In [22]:
data.columns

Index(['median_income', 'median_house_value'], dtype='object')

In [23]:
data.set_index('median_house_value', inplace=True)
data.to_csv('/content/sample_data/test.csv')

In [24]:
data = pd.read_csv('/content/sample_data/test.csv')
print(data.head())

   median_house_value  median_income
0             66900.0         1.4936
1             80100.0         1.8200
2             85700.0         1.6509
3             73400.0         3.1917
4             65500.0         1.9250

In [25]:
data = pd.read_csv('/content/sample_data/test.csv', index_col=0)
print(data.head())

                    median_income
median_house_value
66900.0                    1.4936
80100.0                    1.8200
85700.0                    1.6509
73400.0                    3.1917
65500.0                    1.9250

In [27]:
data.to_csv('/content/sample_data/test2.csv', header=False)
data = pd.read_csv('/content/sample_data/test2.csv', names=['house value', 'income'], index_col=0)
print(data.head())

   house value  income
0      66900.0  1.4936
1      80100.0  1.8200
2      85700.0  1.6509
3      73400.0  3.1917
4      65500.0  1.9250

In [28]:
# Saving DataFrame into html file
data.to_html('newhtml.html')

In [30]:
data = pd.read_csv('/content/sample_data/test2.csv', names=['house value', 'income'])
print(data.head())

   house value  income
0      66900.0  1.4936
1      80100.0  1.8200
2      85700.0  1.6509
3      73400.0  3.1917
4      65500.0  1.9250

In [32]:
# Changing only one column name
data.rename(columns={'house value':'house_value'}, inplace=True)
print(data.head())

   house_value  income
0      66900.0  1.4936
1      80100.0  1.8200
2      85700.0  1.6509
3      73400.0  3.1917
4      65500.0  1.9250