<a href="https://colab.research.google.com/github/Debo12/debo12.pandas-fp/blob/main/pandas_read_from_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import requests
import seaborn as sns
import pandas as pd

In [4]:
url = 'https://www.eia.gov/electricity/monthly/epm_table_grapher.php?t=epmt_5_6_a'

In [14]:
df = pd.read_html(url, header=0)

In [15]:
print(df[1])

                  Unnamed: 0    Residential  ...    All Sectors  All Sectors.1
0   Census Divisionand State  February 2021  ...  February 2021  February 2020
1                New England          21.50  ...          18.46          18.18
2                Connecticut          22.69  ...          19.63          19.82
3                      Maine          16.24  ...          14.06          13.78
4              Massachusetts          22.63  ...          19.07          18.66
..                       ...            ...  ...            ...            ...
58                Washington           9.80  ...           8.81           8.13
59     Pacific Noncontiguous          27.10  ...          25.18          25.53
60                    Alaska          21.63  ...          19.63          19.93
61                    Hawaii          32.36  ...          29.73          30.07
62                U.S. Total          13.34  ...          11.60          10.29

[63 rows x 11 columns]

In [17]:
print(df[1][1:])

               Unnamed: 0 Residential  ... All Sectors All Sectors.1
1             New England       21.50  ...       18.46         18.18
2             Connecticut       22.69  ...       19.63         19.82
3                   Maine       16.24  ...       14.06         13.78
4           Massachusetts       22.63  ...       19.07         18.66
5           New Hampshire       19.27  ...       17.49         16.96
..                    ...         ...  ...         ...           ...
58             Washington        9.80  ...        8.81          8.13
59  Pacific Noncontiguous       27.10  ...       25.18         25.53
60                 Alaska       21.63  ...       19.63         19.93
61                 Hawaii       32.36  ...       29.73         30.07
62             U.S. Total       13.34  ...       11.60         10.29

[62 rows x 11 columns]

In [18]:
print(df[1][1:].columns)

Index(['Unnamed: 0', 'Residential', 'Residential.1', 'Commercial',
       'Commercial.1', 'Industrial', 'Industrial.1', 'Transportation',
       'Transportation.1', 'All Sectors', 'All Sectors.1'],
      dtype='object')