<a href="https://colab.research.google.com/github/Debo12/debo12.pandas-fp/blob/main/pandas_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Knowing a Series

In [6]:
temp = pd.Series(28 + 10*np.random.randn(10))
# print(temp)
print(temp.describe())

count    10.000000
mean     25.271761
std      10.542007
min      10.098869
25%      18.031289
50%      27.845387
75%      29.727506
max      39.900709
dtype: float64

# Knowing a DataFrame

In [8]:
df = pd.DataFrame({
    'temp': pd.Series(28 + 10*np.random.randn(10)),
    'rain': pd.Series(100 + 50*np.random.randn(10)),
    'location': list('AAAAABBBBB')
})

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   temp      10 non-null     float64
 1   rain      10 non-null     float64
 2   location  10 non-null     object
dtypes: float64(2), object(1)
memory usage: 368.0+ bytes
None

In [11]:
print(df.describe()) # it describes only numeric fields

            temp        rain
count  10.000000   10.000000
mean   24.462646  108.630124
std    11.254392   46.183826
min     5.187654   31.412880
25%    19.230618   77.238920
50%    26.330078  118.393832
75%    32.753871  144.284056
max    37.080016  165.524725

In [12]:
print(df.describe(include=['object']))

       location
count        10
unique        2
top           B
freq          5